body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #242322;
}

.image-container {
    display: flex;
    gap: 50px;       
}


.image-container img {
    width: 150px;
    height: 500px;
    object-fit: cover;
    transition: transform 0.9s ease;
}

.image-container img:hover {
    transform: scale(1.3);
    width: 750px;
    height: 500px;
    z-index: 1;
}
